<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <center>
    <div>
        <strong style="color:slateblue; font-size: 15px">Welcome to Konspec</strong><br>
        <strong style="color:#05855a; font-size: 25px">You got a New Task</strong>
    {{!-- <br><br><img src="{{urls.logo}}" /> --}}
    </div>
    <br>
    <div>
        <strong>Task: </strong>{{Task_name}} &nbsp; 
        <strong>Task Created By: </strong>{{Created_By}} &nbsp; 
        <strong> Task Created On: </strong>{{Created_at}}
     <br><br><strong>Please go to {{urls.loginCRM}} to check your task's</strong>
    </div>    </center>
</body></html>




{{!-- http://icons.iconarchive.com/icons/flameia/aqua-smiles/128/fun-icon.png --}}
{{!-- http://icons.iconarchive.com/icons/flameia/aqua-smiles/128/make-fun-icon.png --}}
{{!-- http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/128/Emotes-face-laugh-icon.png --}}
{{!-- https://i.pinimg.com/originals/30/c1/45/30c1457bcb7a00da47a68e6c075b64b0.png --}}